[Unit]
Description=Send I2C shutdown command at system shutdown
DefaultDependencies=no
After=shutdown.target

[Service]
Type=oneshot
User=pi
ExecStart=/usr/bin/python3 /opt/wt220/wt220-poweroff.py

[Install]
WantedBy=final.target
